<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT duAn ANY>
<!ATTLIST duAn id ID #REQUIRED>
<!ELEMENT trangChu ANY>
<!ATTLIST trangChu id ID #REQUIRED>
]>
<root id="-1">
  <trangChu id="1059" key="d5573c48-6244-4fdc-a23e-28a216286b35" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-08-30T11:18:30" updateDate="2016-08-30T11:21:41" nodeName="Trang chu" urlName="trang-chu" path="-1,1059" isDoc="" nodeType="1058" creatorName="Le Xuan Khanh" writerName="Le Xuan Khanh" writerID="0" template="1051" nodeTypeAlias="trangChu">
    <duAn id="1061" key="a68d9fff-25e1-4b7e-b8f5-53133b17905e" parentID="1059" level="2" creatorID="0" sortOrder="0" createDate="2016-08-30T11:32:32" updateDate="2016-08-30T11:32:32" nodeName="Du an" urlName="du-an" path="-1,1059,1061" isDoc="" nodeType="1060" creatorName="Le Xuan Khanh" writerName="Le Xuan Khanh" writerID="0" template="1052" nodeTypeAlias="duAn" />
  </trangChu>
</root>